*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    background-color: white;
}
header{
    padding: 10px 0;
    height: 700px;    
    background-color: rgb(214, 218, 226);

}
section{
    margin: 100px auto;
    padding: 10px;
    max-width: 400px;
    border-radius: 15px;
    text-align: center;
    background-color: white;
}

img{
    width: 350px;
    height: 300px;
    border-radius: 15px;
}
